<h4 style="color: #2bb3cc">looping for</h4>

<h4 style="color: #2bb3cc">range</h4>

- cria um objeto `range` que é uma sequência de números
- é iterável
- pode ser utilizado em testes lógicos e com o `for`
- contém os parâmetros `start` (inclusivo), `stop` (exclusivo) e `step`

In [14]:
for i in range(10, 41, 3):
    print(i)

10
13
16
19
22
25
28
31
34
37
40

In [18]:
50 in range(10, 100)

True

In [ ]:
range(10,20,2)
# O PRIMEIRO É DE ONDE COMEÇA
# O SEGUNDO É ONDE TERMINA
# O TERCEIRO SÃO OS PASSOS PARA O PRÓXIMO

In [17]:
for i in range(10):
    print(i)
    if i == 3:
        print('número 3!')

0
1
2
3
número 3!
4
5
6
7
8
9

<h4 style="color: #2bb3cc">enumerate</h4>

- retorna um objeto `enumerate` (enumerado)
- deve ser aplicado sobre um `iterable` (objeto iterável)
- possui o parâmentro `start`

In [19]:
nomes = ['Maria', 'João', 'José']

In [21]:
list(enumerate(nomes))

[(0, 'Maria'), (1, 'João'), (2, 'José')]

In [22]:
texto = 'Eu estou aprendendo a linguagem Python'
list(enumerate(texto))

[(0, 'E'),
 (1, 'u'),
 (2, ' '),
 (3, 'e'),
 (4, 's'),
 (5, 't'),
 (6, 'o'),
 (7, 'u'),
 (8, ' '),
 (9, 'a'),
 (10, 'p'),
 (11, 'r'),
 (12, 'e'),
 (13, 'n'),
 (14, 'd'),
 (15, 'e'),
 (16, 'n'),
 (17, 'd'),
 (18, 'o'),
 (19, ' '),
 (20, 'a'),
 (21, ' '),
 (22, 'l'),
 (23, 'i'),
 (24, 'n'),
 (25, 'g'),
 (26, 'u'),
 (27, 'a'),
 (28, 'g'),
 (29, 'e'),
 (30, 'm'),
 (31, ' '),
 (32, 'P'),
 (33, 'y'),
 (34, 't'),
 (35, 'h'),
 (36, 'o'),
 (37, 'n')]

In [27]:
times = ['Flamengo', 'Botafogo', 'Fluminense', 'São Paulo', 'Palmeiras']

for indice, time in enumerate(times, start=1):
    print(f'Time {indice}: {time}')

Time 1: Flamengo
Time 2: Botafogo
Time 3: Fluminense
Time 4: São Paulo
Time 5: Palmeiras

<h4 style="color: #2bb3cc">loopings for aninhados</h4>

In [28]:
pessoas = [ ('Maria', 37, 70), ('João', 23, 80), ('Gabriel', 15, 58), ('Lucas', 12, 39)  ]

In [46]:
for pessoa in pessoas:
    for dados in pessoa:
        print(dados)

Maria
37
70
João
23
80
Gabriel
15
58
Lucas
12
39

In [47]:
lista = [ [(1, 2, 4), (4, 5, 6)], [ (7, 8, 9), (10, 11, 12)]]

In [52]:
lista_plana = []
for i in lista:
    for y in i:
        for z in y:
            lista_plana.append(z)

In [53]:
print(lista_plana)

[1, 2, 4, 4, 5, 6, 7, 8, 9, 10, 11, 12]

<h4 style="color: #2bb3cc">Projeto Tabuada</h4>
Utilize a linguagem Python para gerar automaticamente a tabuada de 1 a 9!

In [60]:
for numero in range(1, 10):
    print(f'\nTabuada de {numero}')
    for multiplicador in range(1, 10):
        print(f'{numero} x {multiplicador} = {numero * multiplicador}')

Tabuada de 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9

Tabuada de 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

Tabuada de 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

Tabuada de 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

Tabuada de 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

Tabuada de 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

Tabuada de 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

Tabuada de 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

Tabuada de 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81